<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
			<div class="cover-photo">
				<img src="inventory.jpg" alt="Smiley face" height="100%" width="100%">
			</div>
		</div>
	</div>
</div>